<!DOCTYPE html>
<html>

<head>
    <title>Story Clash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/app.css">
</head>

<body>
<!-- Side Menu 1 -->
  <div id="sidebar1">
      <div class="sidebar bar-block black large" style="width:40px; margin-right: 30px;">
          <a href="#" class="bar-item button"  onclick="menuOpen()"><i class="fas fa-bolt"></i></a>
      </div>
  </div>

<!-- Side Menu 2 -->
 <div id="sidebar2">
    <div class="sidebar bar-block card" style="display:none" id="sidebar">

        <div class="sidebar bar-block black large" style="width:40px">
            <a href="#" class="bar-item button"  onclick="menuClose()"><i class="fas fa-bolt"></i></a>
        </div>

        <div style="margin-left:40px">
            <button class="bar-item button large" onclick="menuClose()"> &times; </button>

            <button onclick="accordinOpen('accordin1')" class="button block left-align"> Accordion </button>
            <div id="accordin1" class="hide">
                <a href="#" class="button block left-align">Link 1</a>
                <a href="#" class="button block left-align">Link 2</a>
                <a href="#" class="button block left-align">Link 3</a>
            </div>
        </div>

    </div>

  </div>

  <!-- Second Sidebar -->
  <div id="main">

    <div>
        <div class="container">
            <h1>StoryClash</h1>
        </div>
    </div>

    <script>
        function menuOpen() {
          document.getElementById("main").style.marginLeft = "25%";
          document.getElementById("sidebar").style.width = "25%";
          document.getElementById("sidebar").style.display = "block";
          document.getElementById("navbar").style.display = 'none';
        }
        function menuClose() {
          document.getElementById("main").style.marginLeft = "0%";
          document.getElementById("sidebar").style.display = "none";
          document.getElementById("navbar").style.display = "inline-block";
        }

        // Accordin Open and Close
        function accordinOpen(id) {
          var x = document.getElementById(id);
          console.log(x);
          if (x.className.indexOf("show") == -1) {
              x.className += "show";
          } else {
              x.className = x.className.replace("show", "");
          }
        }
    </script>

  </div>

</body>
</html>
