/* System Fonts as used by Storyclash */
* {
    font-family: -apple-system, BlinkMacSystemFont,
    "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    color: #333333;
}

/* Sidebar */
#sidebar-two {
    left: 55px;
}


/* Teal */
.teal {
    margin-left: 60px;
    max-height: 60px;
    background-color: #ffffff;
    color:#bbbbbb;
    margin-left: 27px;
}

.teal,
.hover-teal:hover {
	background-color: #ffffff;
}


/* Navbar */
.container-right {
    margin-left: 15px;
}




/* Input field - form */
input {
    width: 90%;
    border: 1px solid #e5e5e5;
}

/* arrow icon */
.arrow-light {
    font-size: 10px;
    color: #bbbbbb;
}

/* arrow dar */
.arrow-dark {
    font-size: 10px;
    color: #515151;
}

/* bookmark icon */
.bookmark {
    font-size: 20px;
    color: #bbbbbb;
}

/* Logo */
.nav-logo {
    height: 60px;
    width: 60px;
}

/* Navbar - Horizontal */
li {
    display: inline;
}



/* Border Grey */
.border-grey {
    border: 1px solid #e5e5e5;
}
.border-grey-right {
    border-right: 1px solid #e5e5e5;
}


/* Classes for  */
.list-close {
    font-weight: 100;
    font-size: 14px;
}
.list-open {
    font-weight: 500;
}
.item {
    font-weight: 100;
    margin-left: 5px;
}


/* Accordin */
.accordin-select {
    font-weight: 500;
}
