
* {
    font-family: -apple-system, BlinkMacSystemFont,
    "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    color: #333333;
}

body {
	margin: 0
}

/* Sidebar */
#sidebar-two {
    left: 55px;
}


/* Teal */
.teal {
    margin-left: 60px;
    max-height: 60px;
    background-color: #ffffff;
    color:#bbbbbb;
    margin-left: 27px;
}

.teal,
.hover-teal:hover {
	background-color: #ffffff;
}



/* Color */
.black {
	color: #fff;
	background-color: #000
}


Navbar
.large {
    font-size: 18px
}

.xlarge {
	font-size: 24px
}
.container {
    padding: 0.01em 50px;
    background-color: #f2f4f4;
}


#main {
	transition: margin-left .4s
}

/* Accordin */
.show {
	display: block
}


.block {
	display: block;
	width: 100%
}

.left-align {
	text-align: left
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 10px;
    /* margin: 6px; */
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}




/* Input field */
input {
    width: 90%;
    border: 1px solid #e5e5e5;
}


/* arrow icon */
.arrow-light {
    font-size: 10px;
    color: #bbbbbb;
}
/* arrow dar */
.arrow-dark {
    font-size: 10px;
    color: #515151;
}

/* bookmark icon */
.bookmark {
    font-size: 20px;
    color: #bbbbbb;
}

/* Logo */
.nav-logo {
    height: 60px;
    width: 60px;
}

/* Navbar - Horizontal */
li {
    display: inline;
}


/* Card */
.w3-card-4,
.w3-hover-shadow:hover {
	box-shadow: none;
}


/* Border Grey */
.border-grey {
    border: 1px solid #e5e5e5;
}
.border-grey-right {
    border-right: 1px solid #e5e5e5;
}


/* Classes for  */
.list-close {
    font-weight: 100;
    font-size: 14px;
}
.list-open {
    font-weight: 500;
}
.item {
    font-weight: 100;
    margin-left: 5px;
}


